*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--text-color, inhert);
    background-color: var(--bg-color, transparent);
}

body {
    --bg-color: var(--light-color);

    overflow-x: hidden;
    
    width: 100%;
    
    font-size: 3vh;
} 

footer{
    font-size: 2vh;
}