footer {
    --bg-color: var(--dark-color);
    --text-color: var(--mid-color);
    
    display: flex;
    flex-direction: column;
    gap: 4em;
    
    padding: 2em;
    
    font-size: 2vh;
}

.copyright{
    width: 100%;
}

.copyright ul{
    list-style-type: none;
}


@media screen and (min-width: 768px) {
    footer{
       flex-direction: row;
    }

    .copyright{
        text-align: end;
    }
}