.burgerMenuButton {
    --text-color: var(--dark-color);

    border: none;

    font-size: 1.5em;
}

.primaryNav {
    --bg-color: var(--light-color);
    --text-color: var(--dark-color);

    display: block;

    position: absolute;
    inset: 3em 0 auto auto;

    height: calc(100vh - 3em);
    width: 80%;
    padding: 1em;

    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

.primaryNav--show {
    transform: translateX(0);
}

.primaryNav__menu {
    display: flex;
    flex-direction: column;
    gap: .5em;
    list-style: none;
}

.primaryNav__Link {
    text-decoration: none;
}

.primaryNav__form {
    --text-color: var(--dark-color-blurred);
    --bg-color: var(--brand-color-blurred);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;

    padding: .2em;
    border-radius: 5px;
}
.primaryNav__form *{
    background-color: transparent;
}

.primaryNav__search {
    width: 100%;
    padding: .2em .2em 0;
    border: none;

    color: var(--text-color);
}
.primaryNav__search::placeholder {
    --text-color: var(--mid-color-blurred);

    color: var(--text-color);
}

@media screen and (min-width: 768px) {
    .burgerMenuButton {
        display: none;
    }

    .primaryNav {
        --text-color: var(--dark-color);
        --bg-color: transparent;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: static;

        height: auto;
        width: auto;
        padding: 0;

        transform: translateX(0);
        transition: none;
    }

    .primaryNav__menu {
        flex-direction: row;
        align-items: center;
    }

    .primaryNav__form {
        order: 1;
    }
}